<div class="card" style="width: 18rem;">
    <img src="../../../../../assets/hotel-image.webp" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{hotelData.name}}</h5>
        <app-star-rate [rate]="hotelData.starsCount"></app-star-rate>
        <p class="card-text">{{hotelData.description| slice:0:60}} ...</p>
        <span>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{hotelData.country}}, {{hotelData.state}}, {{hotelData.city}}
        </span>
        <hr>
        <a href="#" class="btn btn-primary" [routerLink]="['/update', hotelData.id]">Update</a>
        <a id="btnDelete" class="btn btn-danger" (click)="delete()">Delete</a>
    </div>
</div>