<div class="card" style="width: 18rem;">
    <img src="../../../../../assets/hotel-image.webp" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{hotelData.name}}</h5>
        <app-star-rate [rate]="hotelData.starsCount"></app-star-rate>
        <p class="card-text">{{hotelData.description| slice:0:60}} ...</p>
        <span>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{hotelData.country}}, {{hotelData.state}}, {{hotelData.city}}
        </span>
        <hr>
        <a href="#" class="btn btn-primary" [routerLink]="['/update', hotelData.id]">Update</a>
        <a id="btnDelete" class="btn btn-danger" (click)="open(deleteModal)">Delete</a>
    </div>
</div>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-danger" id="deleteModalLabel">Delete Hotel</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure to delete of {{hotelData.name}}?
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')"
     aria-label="Close">Close</button>
     <button type="button" class="btn btn-danger" data-bs-dismiss="modal" 
     aria-label="Close" (click)="delete()">Delete</button>
   </div>
</ng-template>