<div class="row">
    <h2 class="page-header">{{ title }}</h2>
</div>
<app-alert *ngIf="alertData.messages.length > 0" [alertData]="alertData"></app-alert>

<input class="form-control" type="text" placeholder="Search hotels by name"
     [(ngModel)]="searchedName" (ngModelChange)="onSearch()">
<div class="row">
    <div class="col-md-3 col-sm-12 mt-3" *ngFor="let hotelData of hotelsList">
        <app-hotel-item [hotelData] = "hotelData" (onDelete) = "onDelete($event)"></app-hotel-item>
    </div>
</div>
